body{
	background-color:#f9f9f9;
	font-size:16px;
	color: #444;
	font-family: sans-serif;
}


.content{
	width: 80%;
	margin: 10px auto;
}

.badan{
	background-color: white;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;
}

.banner img {
	max-width: 100%;
}

.collapse {
	padding: 0 8px; 
}

@media (min-width: 1024px) {
    .collapse {
	padding: 0 30%;
}
}

